@model Ocean2Ocean.DataAccess.TeamsSearchResult
@{
    ViewData["Title"] = "Teams";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="display-4 pb-3 pt-3">
                🔍 Find Your Team
            </h4>
            <form method="get">
                <div class="input-group pb-4">
                    <input type="text" class="form-control" name="teamName" value="@Model?.Query" placeholder="What's the name of your Team?" aria-label="Team Name" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
                        <a class="btn btn-info" href="/Teams">Reset</a>
                        <a class="btn btn-danger" href="/Teams/Add">
                            New
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @{
        if (Model != null && Model.Teams != null && Model.Teams.Any())
        {
            <div class="row">
                @{
                    foreach (var team in Model?.Teams)
                    {
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                            <div class="card">
                                @*<img class="card-img-top" src="@journey?.ImagePath" />*@
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @team?.TeamName
                                    </h5>
                                    <a href="@team?.TeamWebsite">@team?.TeamWebsite</a>
                                    <p class="card-text">
                                        @team?.Bio
                                    </p>
                                    <a class="btn btn-outline-primary btn-block" href="/Teams/@team?.TeamName">
                                        Edit
                                    </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Created on @team?.Created.ToShortDateString()
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No results found for that query.
            </div>
        }
    }
    <div class="row">
        <div class="col">
            <div class="pt-3">
                <a href="/" class="text-decoration-none btn btn-outline-info">
                    🌊 Ocean To Ocean
                </a>
            </div>
        </div>
    </div>
</div>