@model Ocean2Ocean.DataAccess.Journey
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<script src='https://unpkg.com/@@turf/turf/turf.min.js'></script>

<style>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .legend {
        background-color: white;
        border-radius: 5px;
    }
</style>
<div id="map"></div>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">

        </div>
        <div class="col-auto legend mt-3">
            <h1 class="display-4 pt-3">
                🏃 Add Your Steps
            </h1>
            <p id="stats" class="card-subtitle text-center pb-4"></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" id="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p id="progresslabel" class="text-center"></p>
            <form method="post">
                @{
                    if (!(string.IsNullOrWhiteSpace(Model.JourneyName)))
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Journey Name</label>
                            <input type="text" name="journeyName" class="form-control" id="journeyName" aria-describedby="journeyName" placeholder="Enter a Name for this Journey" value="@Model?.JourneyName" readonly>
                            @*<small id="emailHelp" class="form-text text-muted">What does your team call this event?</small>*@
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Journey Name</label>
                            <input type="text" name="journeyName" class="form-control" id="journeyName" aria-describedby="journeyName" placeholder="Enter a Name for this Journey">
                            <small id="emailHelp" class="form-text text-muted">What does your team call this event?</small>
                        </div>
                    }
                }
                <div class="form-group">
                    <label for="exampleInputEmail1">Work Email Address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="@Model?.Step?.Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Steps Taken Today</label>
                    <input type="number" name="steps" class="form-control" id="exampleInputPassword1" placeholder="1337" value="@Model?.Step?.Steps">
                    <small id="emailHelp" class="form-text text-muted">1 Mile is about 2000 steps.</small>
                    <input type="number" id="stepsTaken" name="stepsTaken" hidden />
                    <input type="number" id="stepsInRoute" name="stepsInRoute" hidden />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg" asp-action="AddSteps" asp-route-journeyName="@Model?.JourneyName">🚀 Submit</button>
                    <a class="btn btn-info btn-lg" href="https://github.com/uncheckederror/Ocean2Ocean" target="_blank">👓 Github</a>
                    <button type="button" id="zoomto" class="btn btn-success btn-lg">🌠 Traveled</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    // Source: http://www.mredkj.com/javascript/numberFormat.html
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    mapboxgl.accessToken = '@Model?.MapboxAccessToken';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-97, 50],
        zoom: 4
    });

    var route = [
        [
            -122.32813417911531,
            47.602575041570226
        ],
        [
            -122.32758700847626,
            47.60192758349329
        ],
        [
            -122.32758164405823,
            47.60082797152702
        ],
        [
            -122.32893347740175,
            47.60082797152702
        ],
        [
            -122.32892274856566,
            47.60174311073082
        ],
        [
            -122.33020484447479,
            47.60318632145069
        ],
        [
            -122.33020216226578,
            47.603191746979796
        ],
        [
            -122.33082979917528,
            47.60389525248467
        ],
        [
            -122.32861697673799,
            47.604835656377915
        ],
        [
            -122.32683598995207,
            47.602817384152516
        ],
        [
            -122.32454001903533,
            47.60119330569802
        ],
        [
            -122.32151985168458,
            47.59904467009318
        ],
        [
            -122.32055425643922,
            47.59793052800251
        ],
        [
            -122.32023239135744,
            47.596729543074986
        ],
        [
            -122.31991052627565,
            47.596078395144104
        ],
        [
            -122.31915950775146,
            47.59544170933225
        ],
        [
            -122.31793642044069,
            47.59496418988937
        ],
        [
            -122.31654167175293,
            47.59476160456679
        ],
        [
            -122.31553316116333,
            47.594935249177006
        ],
        [
            -122.31446027755736,
            47.59483395655774
        ],
        [
            -122.31355905532837,
            47.59454454799369
        ],
        [
            -122.31285095214842,
            47.59412490273272
        ],
        [
            -122.31027603149413,
            47.59076761949314
        ],
        [
            -122.30849504470825,
            47.59013086906384
        ],
        [
            -122.30607032775879,
            47.59001509542618
        ],
        [
            -122.28675842285158,
            47.59014534075054
        ],
        [
            -122.25367069244383,
            47.58937833584118
        ],
        [
            -122.251718044281,
            47.589638829335065
        ],
        [
            -122.24993705749513,
            47.59020322745732
        ],
        [
            -122.24708318710327,
            47.59162143177357
        ],
        [
            -122.24549531936644,
            47.59202662594798
        ],
        [
            -122.24362850189209,
            47.592127924001396
        ],
        [
            -122.24163293838502,
            47.59178061557339
        ],
        [
            -122.24000215530396,
            47.59108599180265
        ],
        [
            -122.23661184310913,
            47.58945069527506
        ],
        [
            -122.22092628479005,
            47.582822156009854
        ],
        [
            -122.21895217895509,
            47.58191030436744
        ],
        [
            -122.21654891967773,
            47.58031814437581
        ],
        [
            -122.21554040908813,
            47.57973916510092
        ],
        [
            -122.21446752548218,
            47.57926150237904
        ],
        [
            -122.21322298049925,
            47.57888515898335
        ],
        [
            -122.21043348312378,
            47.57846538815831
        ],
        [
            -122.20700025558472,
            47.57795876371508
        ],
        [
            -122.2053050994873,
            47.57785743823816
        ],
        [
            -122.20360994338989,
            47.578002188859436
        ],
        [
            -122.19723701477052,
            47.57953652084203
        ],
        [
            -122.19622850418092,
            47.57982601240031
        ],
        [
            -122.19524145126343,
            47.57995628307931
        ],
        [
            -122.19423294067383,
            47.579941808575434
        ],
        [
            -122.19318151473999,
            47.57981153786043
        ],
        [
            -122.19062805175783,
            47.57924702768305
        ],
        [
            -122.1892762184143,
            47.57913122997127
        ],
        [
            -122.17464208602907,
            47.58034709317149
        ],
        [
            -122.16962099075317,
            47.58030366997198
        ],
        [
            -122.16444969177248,
            47.58008655343417
        ],
        [
            -122.15402126312256,
            47.579522046222095
        ],
        [
            -122.13552474975586,
            47.578668036563016
        ],
        [
            -122.13382959365846,
            47.5785088128825
        ],
        [
            -122.13217735290529,
            47.57811798906834
        ],
        [
            -122.12925910949707,
            47.57713367912919
        ],
        [
            -122.10636377334595,
            47.568940028388184
        ],
        [
            -122.1046471595764,
            47.56821614602286
        ],
        [
            -122.08831787109375,
            47.5591812525471
        ],
        [
            -122.08696603775023,
            47.558486196197514
        ],
        [
            -122.084219455719,
            47.55741463292684
        ],
        [
            -122.06821203231812,
            47.55123099517052
        ],
        [
            -122.05988645553589,
            47.54801579449417
        ],
        [
            -122.05525159835815,
            47.54616189544734
        ],
        [
            -122.05304145812987,
            47.545611506545
        ],
        [
            -122.05057382583618,
            47.54530734177751
        ],
        [
            -122.04810619354248,
            47.54510456428533
        ],
        [
            -122.0456385612488,
            47.54475694390234
        ],
        [
            -122.04327821731567,
            47.543989274056656
        ],
        [
            -122.04113245010377,
            47.54301880740828
        ],
        [
            -122.03694820404053,
            47.54091848225227
        ],
        [
            -122.03568220138548,
            47.54015075619558
        ],
        [
            -122.03441619873047,
            47.53912227536966
        ],
        [
            -122.02948093414305,
            47.53357392520651
        ],
        [
            -122.02812910079956,
            47.53263224092617
        ],
        [
            -122.02714204788207,
            47.53213966087441
        ],
        [
            -122.02585458755492,
            47.53177746670813
        ],
        [
            -122.0245671272278,
            47.531589124753076
        ],
        [
            -122.02336549758913,
            47.5316470761959
        ],
        [
            -122.02130556106569,
            47.53190785689614
        ],
        [
            -122.01961040496825,
            47.532574290571986
        ],
        [
            -122.01594114303587,
            47.534660462979325
        ],
        [
            -122.01343059539795,
            47.53589184523946
        ],
        [
            -122.01083421707155,
            47.5366886065872
        ],
        [
            -122.00941801071166,
            47.53681898456419
        ],
        [
            -122.00774431228638,
            47.5366886065872
        ],
        [
            -122.00491189956666,
            47.53571800479104
        ],
        [
            -122.00047016143797,
            47.533762260033406
        ],
        [
            -121.99810981750488,
            47.53292199173656
        ],
        [
            -121.9956636428833,
            47.53224107479268
        ],
        [
            -121.99210166931154,
            47.53153117324623
        ],
        [
            -121.98851823806764,
            47.531168974877495
        ],
        [
            -121.98266029357909,
            47.530908190503084
        ],
        [
            -121.98090076446535,
            47.53105307087117
        ],
        [
            -121.97905540466309,
            47.53156014900767
        ],
        [
            -121.97703838348389,
            47.53258877816654
        ],
        [
            -121.9757080078125,
            47.533762260033406
        ],
        [
            -121.97416305541991,
            47.53502263723401
        ],
        [
            -121.97309017181396,
            47.53551519020612
        ],
        [
            -121.97186708450316,
            47.535848385181396
        ],
        [
            -121.97025775909422,
            47.53602222519756
        ],
        [
            -121.96871280670166,
            47.535920818591514
        ],
        [
            -121.9673180580139,
            47.53557313731042
        ],
        [
            -121.96143865585329,
            47.533617387149654
        ],
        [
            -121.95987224578859,
            47.533182766097084
        ],
        [
            -121.95783376693726,
            47.53287852921705
        ],
        [
            -121.9522547721863,
            47.532371463828056
        ],
        [
            -121.94631099700928,
            47.53180644233349
        ],
        [
            -121.94485187530518,
            47.53153117324623
        ],
        [
            -121.94328546524048,
            47.53087921438143
        ],
        [
            -121.94212675094604,
            47.53028520035958
        ],
        [
            -121.94088220596313,
            47.52924203750304
        ],
        [
            -121.93671941757202,
            47.52359121145429
        ],
        [
            -121.93547487258911,
            47.52250444434491
        ],
        [
            -121.93405866622925,
            47.52172195808562
        ],
        [
            -121.93262100219727,
            47.52125825701717
        ],
        [
            -121.92991733551025,
            47.520504734039505
        ],
        [
            -121.92732095718385,
            47.51946137666487
        ],
        [
            -121.9229006767273,
            47.51759197614496
        ],
        [
            -121.91841602325441,
            47.51556309401171
        ],
        [
            -121.90970420837401,
            47.51091086096947
        ],
        [
            -121.90558433532715,
            47.50795408731396
        ],
        [
            -121.90335273742677,
            47.50693946973325
        ],
        [
            -121.90060615539552,
            47.50647563802115
        ],
        [
            -121.8962287902832,
            47.50679452276349
        ],
        [
            -121.89189434051512,
            47.50743228643635
        ],
        [
            -121.86747550964355,
            47.51108478364415
        ],
        [
            -121.86429977416991,
            47.51125870574247
        ],
        [
            -121.85996532440186,
            47.511200731773734
        ],
        [
            -121.85554504394531,
            47.511403640384145
        ],
        [
            -121.8435287475586,
            47.51470804161579
        ],
        [
            -121.84086799621583,
            47.51505586122063
        ],
        [
            -121.83794975280762,
            47.51476601171002
        ],
        [
            -121.8352460861206,
            47.513925439075514
        ],
        [
            -121.83305740356445,
            47.512621075571786
        ],
        [
            -121.81464672088623,
            47.49641527939854
        ],
        [
            -121.81168556213377,
            47.4948495170978
        ],
        [
            -121.80258750915526,
            47.49197883161885
        ],
        [
            -121.79851055145262,
            47.48991996055612
        ],
        [
            -121.78396224975586,
            47.47594070195979
        ],
        [
            -121.78168773651123,
            47.47437432923091
        ],
        [
            -121.77902698516847,
            47.47364914085919
        ],
        [
            -121.77589416503906,
            47.473388070595504
        ],
        [
            -121.7438793182373,
            47.473417078466625
        ],
        [
            -121.74194812774657,
            47.47333005480522
        ],
        [
            -121.74001693725585,
            47.47289493433653
        ],
        [
            -121.73521041870117,
            47.47153153353802
        ],
        [
            -121.71898841857909,
            47.46601955276985
        ],
        [
            -121.7103624343872,
            47.46378558543664
        ],
        [
            -121.70658588409422,
            47.462450962249356
        ],
        [
            -121.70392513275145,
            47.46036191880355
        ],
        [
            -121.69967651367188,
            47.44942209992082
        ],
        [
            -121.69684410095216,
            47.44710036022085
        ],
        [
            -121.69341087341307,
            47.445329964833604
        ],
        [
            -121.69036388397217,
            47.444198041474344
        ],
        [
            -121.68624401092528,
            47.44344341236996
        ],
        [
            -121.68233871459962,
            47.44387877663593
        ],
        [
            -121.6787338256836,
            47.44393682493247
        ],
        [
            -121.67199611663818,
            47.443008044500935
        ],
        [
            -121.66431427001953,
            47.44326926565471
        ],
        [
            -121.66066646575929,
            47.44271779725319
        ],
        [
            -121.65727615356444,
            47.441730944632624
        ],
        [
            -121.6413116455078,
            47.43395157592744
        ],
        [
            -121.63689136505126,
            47.431251750056965
        ],
        [
            -121.63337230682373,
            47.42985823735103
        ],
        [
            -121.622257232666,
            47.42855178567924
        ],
        [
            -121.61573410034178,
            47.4291324348703
        ],
        [
            -121.61298751831055,
            47.428696948577546
        ],
        [
            -121.604061126709,
            47.42570651204772
        ],
        [
            -121.60002708435057,
            47.42521292851872
        ],
        [
            -121.59801006317137,
            47.4249225831044
        ],
        [
            -121.59625053405762,
            47.4243128525216
        ],
        [
            -121.59436225891113,
            47.42289012036331
        ],
        [
            -121.59178733825684,
            47.42050913563473
        ],
        [
            -121.5877103805542,
            47.41824419657053
        ],
        [
            -121.5853500366211,
            47.41531124609266
        ],
        [
            -121.58406257629395,
            47.413539781030416
        ],
        [
            -121.58273220062256,
            47.412552381196925
        ],
        [
            -121.5757369995117,
            47.40927059579516
        ],
        [
            -121.57178878784178,
            47.40610478601909
        ],
        [
            -121.56917095184325,
            47.405204383347694
        ],
        [
            -121.56037330627441,
            47.40349067122615
        ],
        [
            -121.5493869781494,
            47.39797155842576
        ],
        [
            -121.54402256011961,
            47.39753581436993
        ],
        [
            -121.53681278228758,
            47.3965481145022
        ],
        [
            -121.5277576446533,
            47.39529893815515
        ],
        [
            -121.51908874511717,
            47.39535704003727
        ],
        [
            -121.51029109954834,
            47.39637381260364
        ],
        [
            -121.50175094604492,
            47.3965481145022
        ],
        [
            -121.48608684539795,
            47.39680956626896
        ],
        [
            -121.48140907287598,
            47.39619951012849
        ],
        [
            -121.47686004638672,
            47.39515368316963
        ],
        [
            -121.47231101989745,
            47.39465981322387
        ],
        [
            -121.46716117858885,
            47.39550229446222
        ],
        [
            -121.45578861236572,
            47.39744866512633
        ],
        [
            -121.44969463348389,
            47.39939496389531
        ],
        [
            -121.44544601440428,
            47.402503082988055
        ],
        [
            -121.44304275512695,
            47.407295617526366
        ],
        [
            -121.44115447998047,
            47.41444004121396
        ],
        [
            -121.43918037414551,
            47.41833131141311
        ],
        [
            -121.43574714660645,
            47.422048077095866
        ],
        [
            -121.43102645874022,
            47.42588071689415
        ],
        [
            -121.42493247985838,
            47.42849372040782
        ],
        [
            -121.42210006713867,
            47.42884211107548
        ],
        [
            -121.41931056976318,
            47.42843565507233
        ],
        [
            -121.41205787658693,
            47.42541616935588
        ],
        [
            -121.41042709350586,
            47.423848291146754
        ],
        [
            -121.40974044799805,
            47.42201904088091
        ],
        [
            -121.40978336334229,
            47.42062528372956
        ],
        [
            -121.41111373901367,
            47.415950120509784
        ],
        [
            -121.41107082366943,
            47.4144690816088
        ],
        [
            -121.40982627868651,
            47.41083890813656
        ],
        [
            -121.409010887146,
            47.409996672129125
        ],
        [
            -121.40489101409912,
            47.40744083903913
        ],
        [
            -121.40429019927979,
            47.406569503956725
        ],
        [
            -121.4039897918701,
            47.405581973438544
        ],
        [
            -121.40403270721434,
            47.40276450520579
        ],
        [
            -121.40351772308351,
            47.401544523757586
        ],
        [
            -121.40059947967528,
            47.39962735297343
        ],
        [
            -121.39948368072508,
            47.39884303572672
        ],
        [
            -121.39712333679199,
            47.39634476223115
        ],
        [
            -121.39502048492432,
            47.395124632124464
        ],
        [
            -121.38562202453612,
            47.39175460220217
        ],
        [
            -121.38214588165283,
            47.38980802121556
        ],
        [
            -121.37969970703124,
            47.38742554067244
        ],
        [
            -121.36279106140137,
            47.34248690957171
        ],
        [
            -121.33051872253418,
            47.32550142273895
        ],
        [
            -121.2714672088623,
            47.2726486288651
        ],
        [
            -121.22340202331543,
            47.265659725464495
        ],
        [
            -121.15233421325684,
            47.22207475540003
        ],
        [
            -121.04899406433107,
            47.1945534860755
        ],
        [
            -121.04247093200684,
            47.184754334091274
        ],
        [
            -120.98822593688965,
            47.18592099467305
        ],
        [
            -120.9587001800537,
            47.19618650218157
        ],
        [
            -120.90582847595215,
            47.18545433351719
        ],
        [
            -120.87939262390137,
            47.1667845231874
        ],
        [
            -120.82343101501466,
            47.15534602274006
        ],
        [
            -120.7976818084717,
            47.11797866703129
        ],
        [
            -120.76506614685059,
            47.1074643668254
        ],
        [
            -120.73622703552246,
            47.083390482925644
        ],
        [
            -120.62911033630371,
            47.03942173882115
        ],
        [
            -120.55563926696779,
            46.976445948394684
        ],
        [
            -120.50963401794435,
            46.970355133852635
        ],
        [
            -119.95963096618651,
            46.935202273266306
        ],
        [
            -119.95413780212402,
            47.017657836971004
        ],
        [
            -119.83328819274902,
            47.11120302266654
        ],
        [
            -118.70169639587404,
            47.088767148373314
        ],
        [
            -118.37210655212401,
            47.1261550199513
        ],
        [
            -117.41629600524902,
            47.65793017644961
        ],
        [
            -117.12378501892088,
            47.667179233054256
        ],
        [
            -116.98645591735841,
            47.71524791339677
        ],
        [
            -116.78046226501463,
            47.69768949386061
        ],
        [
            -116.70218467712401,
            47.63294953814926
        ],
        [
            -116.52777671813965,
            47.623694418093066
        ],
        [
            -116.4481258392334,
            47.57646781191301
        ],
        [
            -116.34238243103026,
            47.54774061049866
        ],
        [
            -116.19681358337402,
            47.54681366430501
        ],
        [
            -116.13364219665527,
            47.54774061049866
        ],
        [
            -116.04025840759277,
            47.527344007421405
        ],
        [
            -115.9152889251709,
            47.47446135116299
        ],
        [
            -115.69693565368652,
            47.45867901788153
        ],
        [
            -115.67633628845216,
            47.4363900092775
        ],
        [
            -115.4154109954834,
            47.39550229446222
        ],
        [
            -115.18744468688965,
            47.300595014233515
        ],
        [
            -115.10504722595215,
            47.301526306131834
        ],
        [
            -115.03912925720215,
            47.24002585062038
        ],
        [
            -114.87982749938966,
            47.18685430467726
        ],
        [
            -114.78369712829588,
            47.124286250069375
        ],
        [
            -114.7342586517334,
            47.00923071827605
        ],
        [
            -114.66559410095215,
            47.01953034942607
        ],
        [
            -114.56259727478027,
            47.006421383199815
        ],
        [
            -114.52689170837402,
            47.02327517733305
        ],
        [
            -114.46097373962402,
            46.9998656934084
        ],
        [
            -114.42114830017091,
            46.9961192237666
        ],
        [
            -114.34012413024902,
            47.03450808505097
        ],
        [
            -114.02289390563966,
            46.90612514102132
        ],
        [
            -113.96109580993654,
            46.86388831976947
        ],
        [
            -113.88693809509277,
            46.877032227800925
        ],
        [
            -113.7180233001709,
            46.7840169177492
        ],
        [
            -113.68643760681152,
            46.7219172739504
        ],
        [
            -113.57382774353027,
            46.727565653031824
        ],
        [
            -113.49005699157715,
            46.69837599513974
        ],
        [
            -113.34311485290527,
            46.70402683848351
        ],
        [
            -113.29367637634277,
            46.7219172739504
        ],
        [
            -113.0423641204834,
            46.61259902478278
        ],
        [
            -112.91464805603027,
            46.593728704942706
        ],
        [
            -112.73337364196777,
            46.49266083823322
        ],
        [
            -112.71552085876465,
            46.395193460248976
        ],
        [
            -112.80341148376465,
            46.11602618832071
        ],
        [
            -112.78006553649902,
            46.07126563694834
        ],
        [
            -112.7017879486084,
            46.00548751936206
        ],
        [
            -112.54523277282715,
            46.00548751936206
        ],
        [
            -112.47244834899904,
            45.98163554236189
        ],
        [
            -112.44498252868652,
            45.91670615498128
        ],
        [
            -111.94510459899902,
            45.874652491000106
        ],
        [
            -111.51663780212402,
            45.91670615498128
        ],
        [
            -110.91788291931152,
            45.6485483833091
        ],
        [
            -110.82449913024902,
            45.667745285667316
        ],
        [
            -110.55533409118652,
            45.6485483833091
        ],
        [
            -110.42899131774904,
            45.729131147107324
        ],
        [
            -110.24771690368652,
            45.70228312499791
        ],
        [
            -109.89066123962404,
            45.832566979517935
        ],
        [
            -109.08865928649904,
            45.606292031298956
        ],
        [
            -108.38553428649902,
            45.832566979517935
        ],
        [
            -107.57254600524902,
            45.74063349367981
        ],
        [
            -107.44620323181152,
            45.61013483416156
        ],
        [
            -107.30887413024902,
            45.00747434772532
        ],
        [
            -106.94083213806152,
            44.805163498760486
        ],
        [
            -106.69363975524902,
            44.35914442787942
        ],
        [
            -106.27066612243652,
            44.17426327774747
        ],
        [
            -105.54007530212402,
            44.27660982094049
        ],
        [
            -104.57877159118652,
            44.30020298342593
        ],
        [
            -104.17227745056152,
            44.508197645868776
        ],
        [
            -103.85916709899902,
            44.508197645868776
        ],
        [
            -103.49112510681154,
            44.41410300112297
        ],
        [
            -103.23843955993652,
            44.08357762848628
        ],
        [
            -102.68362998962402,
            44.11513625514355
        ],
        [
            -102.34854698181152,
            44.05595001263909
        ],
        [
            -101.82669639587402,
            43.83050227768815
        ],
        [
            -100.92581748962404,
            43.90574651676094
        ],
        [
            -99.63492393493652,
            43.87803600607561
        ],
        [
            -98.42642784118652,
            43.70356044933931
        ],
        [
            -97.80570030212402,
            43.687673779706635
        ],
        [
            -97.09158897399902,
            43.655887814196454
        ],
        [
            -97.00369834899904,
            43.628061284983986
        ],
        [
            -96.32254600524902,
            43.60817730195426
        ],
        [
            -96.17423057556152,
            43.63601303704468
        ],
        [
            -94.98221397399902,
            43.63601303704468
        ],
        [
            -94.56473350524904,
            43.68370145467173
        ],
        [
            -93.28482627868654,
            43.67972886658953
        ],
        [
            -92.74649620056152,
            43.67972886658953
        ],
        [
            -92.32352256774902,
            43.96112885708628
        ],
        [
            -91.65335655212402,
            43.949265554616076
        ],
        [
            -91.14798545837402,
            43.87407630918732
        ],
        [
            -90.41190147399902,
            43.98484835688383
        ],
        [
            -90.11801719665527,
            43.87407630918732
        ],
        [
            -89.81314659118652,
            43.65191338483019
        ],
        [
            -89.79392051696777,
            43.558438577655615
        ],
        [
            -89.48630332946777,
            43.50268242162093
        ],
        [
            -89.44235801696779,
            43.309128644031446
        ],
        [
            -89.26657676696777,
            43.038720611998535
        ],
        [
            -89.09354209899902,
            42.97042912872376
        ],
        [
            -88.98642539978027,
            42.72274070224096
        ],
        [
            -88.96719932556152,
            42.24472181731244
        ],
        [
            -88.76944541931152,
            42.226420004226156
        ],
        [
            -88.25308799743652,
            42.055347193990606
        ],
        [
            -88.00864219665527,
            42.06146489517024
        ],
        [
            -87.82187461853027,
            41.981888813906075
        ],
        [
            -87.61862754821777,
            41.88994652922094
        ],
        [
            -87.63236045837402,
            41.7773926602366
        ],
        [
            -87.51151084899902,
            41.6974618237924
        ],
        [
            -87.48129844665527,
            41.607164035849856
        ],
        [
            -87.25607872009277,
            41.5927868088829
        ],
        [
            -87.01163291931152,
            41.57635177038503
        ],
        [
            -86.81387901306152,
            41.62359123016217
        ],
        [
            -86.58865928649904,
            41.72821622592342
        ],
        [
            -86.44034385681154,
            41.754858137923044
        ],
        [
            -86.16568565368652,
            41.71796639351807
        ],
        [
            -86.05307579040527,
            41.73846442326741
        ],
        [
            -85.74545860290527,
            41.73641491460673
        ],
        [
            -85.51749229431152,
            41.75690705791829
        ],
        [
            -85.11099815368652,
            41.754858137923044
        ],
        [
            -84.98465538024902,
            41.73846442326741
        ],
        [
            -84.78964805603027,
            41.629750349363356
        ],
        [
            -83.69650840759279,
            41.594840894552895
        ],
        [
            -83.61136436462402,
            41.586624159677754
        ],
        [
            -83.16367149353027,
            41.41589096626463
        ],
        [
            -82.80112266540527,
            41.34788405932315
        ],
        [
            -82.49075889587402,
            41.327261865841415
        ],
        [
            -82.27103233337402,
            41.35613110843095
        ],
        [
            -82.11997032165527,
            41.38910885655809
        ],
        [
            -81.99362754821777,
            41.3746831488441
        ],
        [
            -81.84531211853027,
            41.42824821699758
        ],
        [
            -81.69150352478027,
            41.459131055602676
        ],
        [
            -81.66953086853029,
            41.52702155713081
        ],
        [
            -81.50198936462402,
            41.601002759359595
        ],
        [
            -81.44156455993652,
            41.594840894552895
        ],
        [
            -81.02133750915527,
            41.76305342544225
        ],
        [
            -80.76590538024902,
            41.826531415383435
        ],
        [
            -80.11771202087404,
            42.03495060034759
        ],
        [
            -79.43106651306154,
            42.41731044891151
        ],
        [
            -79.13992881774902,
            42.5307570703994
        ],
        [
            -78.80759239196779,
            42.783244083690406
        ],
        [
            -78.75815391540527,
            42.95032895122024
        ],
        [
            -78.61533164978027,
            42.952339264459034
        ],
        [
            -78.35715293884277,
            43.01462640428068
        ],
        [
            -77.78861045837402,
            43.038720611998535
        ],
        [
            -77.56339073181152,
            43.04875707396903
        ],
        [
            -77.34641075134277,
            42.99052273960993
        ],
        [
            -76.95914268493652,
            42.952339264459034
        ],
        [
            -76.68723106384279,
            43.00860137468073
        ],
        [
            -76.53891563415529,
            43.0808627180653
        ],
        [
            -76.23953819274902,
            43.10894136312709
        ],
        [
            -76.15164756774902,
            43.09289799954859
        ],
        [
            -75.73416709899902,
            43.09289799954859
        ],
        [
            -75.60370445251466,
            43.12698512201791
        ],
        [
            -75.29746055603027,
            43.12798739705408
        ],
        [
            -75.2658748626709,
            43.13800924416121
        ],
        [
            -75.0626277923584,
            43.05377468921918
        ],
        [
            -75.00082969665527,
            43.01563051841677
        ],
        [
            -74.8099422454834,
            43.01362227372624
        ],
        [
            -74.66300010681152,
            42.98851367402841
        ],
        [
            -74.59708213806152,
            42.910108897678604
        ],
        [
            -74.46249961853027,
            42.89401352261538
        ],
        [
            -74.38147544860841,
            42.946308127754314
        ],
        [
            -74.28671836853029,
            42.93122770056174
        ],
        [
            -74.19745445251465,
            42.92821117191549
        ],
        [
            -74.02167320251466,
            42.85073638225045
        ],
        [
            -74.01206016540527,
            42.78525984579398
        ],
        [
            -73.83902549743652,
            42.6954949113191
        ],
        [
            -73.84726524353027,
            42.6773244067821
        ],
        [
            -73.78546714782715,
            42.63187489370465
        ],
        [
            -73.78684043884279,
            42.579314091750945
        ],
        [
            -73.7882137298584,
            42.51557525351261
        ],
        [
            -73.66187095642091,
            42.481149477652465
        ],
        [
            -73.61380577087402,
            42.47608526506765
        ],
        [
            -73.55063438415527,
            42.43961083607815
        ],
        [
            -73.54514122009279,
            42.41933808466396
        ],
        [
            -73.46823692321777,
            42.38080179433592
        ],
        [
            -73.38995933532716,
            42.338181518845126
        ],
        [
            -73.34326744079591,
            42.301626846870604
        ],
        [
            -73.19632530212404,
            42.301626846870604
        ],
        [
            -73.13315391540527,
            42.27927742695088
        ],
        [
            -73.1125545501709,
            42.24878816610089
        ],
        [
            -72.99445152282715,
            42.23455479862538
        ],
        [
            -72.89969444274902,
            42.171482722103164
        ],
        [
            -72.67035484313965,
            42.14195965578385
        ],
        [
            -72.44101524353027,
            42.1704649146129
        ],
        [
            -72.37647056579591,
            42.15112346061626
        ],
        [
            -72.30231285095215,
            42.17453604630773
        ],
        [
            -72.19931602478027,
            42.18064225251336
        ],
        [
            -72.11005210876465,
            42.131776094696896
        ],
        [
            -71.9150447845459,
            42.17657151388825
        ],
        [
            -71.74475669860841,
            42.22031822043341
        ],
        [
            -71.60605430603027,
            42.23455479862538
        ],
        [
            -71.4041805267334,
            42.31990683736715
        ],
        [
            -71.35748863220215,
            42.31787598947988
        ],
        [
            -71.26959800720216,
            42.34325687702603
        ],
        [
            -71.1350154876709,
            42.35848049347556
        ],
        [
            -71.12196922302246,
            42.357085148806966
        ],
        [
            -71.10720634460449,
            42.34896616528632
        ],
        [
            -71.07527732849121,
            42.34744373911506
        ],
        [
            -71.05416297912599,
            42.346555640154364
        ],
        [
            -71.04523658752441,
            42.348458693992725
        ],
        [
            -71.03579521179199,
            42.3463018952897
        ],
        [
            -71.03030204772949,
            42.35074228255108
        ],
        [
            -71.02493762969972,
            42.360732007036994
        ],
        [
            -71.0251522064209,
            42.3682470386128
        ],
        [
            -71.02858543395996,
            42.372780989917274
        ],
        [
            -71.02940082550049,
            42.37553924771845
        ],
        [
            -71.02141857147217,
            42.383211005847016
        ]
    ]

    var stepsTaken = @Model?.StepsTaken;

    // Calculate the distance in kilometers between route start/end point.
    var line = turf.lineString(route);
    var lengthMiles = turf.length(line, { units: 'miles' });
    document.getElementById("stats").innerHTML += addCommas(Math.round(lengthMiles)) + " Miles";

    var lengthKilometers = turf.length(line, { units: 'kilometers' });
    document.getElementById("stats").innerHTML += " &#8226; " + addCommas(Math.round(lengthKilometers)) + " Kilometers";

    // sourced from https://www.chparks.com/411/How-To-Measure-Steps
    // 2k miles per step
    var totalStepsUnrounded = lengthMiles * 2000;
    console.log("totalStepsUnrounded: " + totalStepsUnrounded);
    var totalSteps = Math.round(totalStepsUnrounded);
    console.log("totalSteps: " + totalSteps);
    document.getElementById("stats").innerHTML += " &#8226; " + addCommas(totalSteps) + " Steps";
    document.getElementById("stepsInRoute").value = totalSteps;
    document.getElementById("stepsTaken").value = stepsTaken;

    // Calculate the distance traveled.
    var milesFromSteps = stepsTaken / 2000;
    console.log("milesFromSteps: " + milesFromSteps);
    var start = 0;
    var stop = milesFromSteps;
    var routeTraveled = turf.lineSliceAlong(line, start, stop, { units: 'miles' });
    console.log(routeTraveled);

    // Calculate the distance remaining.
    var milesFromSteps = stepsTaken / 2000;
    var start = milesFromSteps;
    var stop = lengthMiles;
    var routeRemaining = turf.lineSliceAlong(line, start, stop, { units: 'miles' });
    console.log(routeTraveled);

    // Get the point for the marker Icon
    var options = { units: 'miles' };
    var along = turf.along(line, milesFromSteps, options);

    // Set the progress bar
    var progressbarWidth = Math.round((stepsTaken / totalSteps) * 100);
    console.log(progressbarWidth);
    document.getElementById("progressbar").style.width = progressbarWidth + "%";
    document.getElementById("progresslabel").innerHTML += "~" + progressbarWidth + "% Complete &#8226; " + addCommas(stepsTaken) + " Steps";

    map.on('load', function () {

        map.addSource('routeTraveled', {
            'type': 'geojson',
            'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'LineString',
                    'coordinates': routeTraveled.geometry.coordinates
                }
            }
        });

        map.addLayer({
            'id': 'routeTraveled',
            'type': 'line',
            'source': 'routeTraveled',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#ff0000',
                'line-width': 5,
                'line-opacity': 0.8
            }
        });

        map.addSource('route', {
            'type': 'geojson',
            'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'LineString',
                    'coordinates': routeRemaining.geometry.coordinates
                }
            }
        });

        map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': 'route',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#0075ff',
                'line-width': 5,
                'line-opacity': 0.8
            }
        });

        map.loadImage(
            './wagon.png',
            function (error, image) {
                if (error) throw error;
                map.addImage('wagon', image);
                map.addSource('point', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                            {
                                'type': 'Feature',
                                'geometry': {
                                    'type': 'Point',
                                    'coordinates': along.geometry.coordinates
                                }
                            }
                        ]
                    }
                });
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'point',
                    'layout': {
                        'icon-image': 'wagon',
                        'icon-size': 0.2
                    }
                });
            }
        );

        document.getElementById('zoomto').addEventListener('click', function () {
            // Geographic coordinates of the LineString
            var coordinates = routeTraveled.geometry.coordinates;

            // Pass the first coordinates in the LineString to `lngLatBounds` &
            // wrap each coordinate pair in `extend` to include them in the bounds
            // result. A variation of this technique could be applied to zooming
            // to the bounds of multiple Points or Polygon geomteries - it just
            // requires wrapping all the coordinates with the extend method.
            var bounds = coordinates.reduce(function (bounds, coord) {
                return bounds.extend(coord);
            }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

            console.log(bounds)

            map.fitBounds(bounds, {
                padding: 200
            });
        });
    });
</script>