@model Ocean2Ocean.DataAccess.JourneysSearchResult
@{
    ViewData["Title"] = "Journeys";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="display-4 pb-3 pt-3">
                🔍 Find Your Journey
            </h4>
            <form method="get">
                <div class="input-group pb-4">
                    <input type="text" class="form-control" name="journeyName" value="@Model?.Query" placeholder="What's the name of the Journey?" aria-label="Journey Name" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
                        <a class="btn btn-info" href="/Journeys">Reset</a>
                        <a class="btn btn-danger" href="/Journeys/Add">
                            New
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @{
        if (Model != null && Model.Journeys != null && Model.Journeys.Any())
        {
            <div class="row">
                @{
                    foreach (var journey in Model?.Journeys)
                    {
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="@journey?.ImagePath" />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @journey.JourneyName
                                    </h5>
                                    <p class="card-text">
                                        @journey.Bio
                                    </p>
                                    <a class="btn btn-primary" href="/@journey.JourneyName">
                                        🗺️ View
                                    </a>
                                </div>
                                <div class="card-footer text-muted">
                                    Created on @journey.Created.ToShortDateString()
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No results found for that query.
            </div>
        }
    }
</div>