<!DOCTYPE html>
<!--
Hello there.
You're a bold one; hitting that inspect button.

(•_• )
( •_•)
( •_•)>⌐■-■
(⌐■_■)

Welcome to my hand-crafted fair-trade small-batch artisanal DOM.
Designed in Seattle, forged in Puget Sound.
https://thomasryan.xyz/
@@UncheckedError
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@ViewData["Title"] - Ocean2Ocean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
